*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr; /* Creates 2 columns */
  gap: 10px; /* Adds spacing between grid items */
  width: 100%;
  length: 100%;
}

.picture-grid {
  display: grid;
  grid-template-columns: .2fr 2fr .2fr;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profile-pic {
  width: 100%;
  border-radius: 100%;
  border-width: 4px;
  border-style: solid;
  border-color: navy;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);
}

.description {
  font-style: Roboto, Arial;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0px;
  line-height: 35px;
}

.click {
  padding-bottom: 40px;
  text-align: left;
  font-size: 45px;
  margin-left: 10px;
}

.link {
  color: blue;
  font-size: 20px;
}

.link:hover {
  text-decoration: underline;
}

body {
  visibility: hidden;
}