li {
  font-family: Roboto, Arial;
  font-size: 20px;
  margin-left: 60px;
  margin-right: 50px;
  line-height: 35px;
}

.description {
  font-size: 30px;
  margin-left: 60px;
  margin-right: 50px;
  padding-top: 20px;
}

.date {
  margin-left: 170px;
}

.date2 {
  margin-left: 525px;
}

.date3 {
  margin-left: 625px;
}

.buffer {
  padding-bottom: 24px;
}